<!DOCTYPE HTML>
<html layout:decorator="layout/layout"
	xmlns:th="http://www.thymeleaf.org">
	
<body>
	<th:block layout:fragment="content">

		<div class="row">
			<div class="col-md-25 col-sm-18">
					<div class="panel panel-default">
						<div class="panel-heading">Requests Found:</div>
						<div class="panel-body">
							<table class="table table-striped">
								<h3>Abandoned Vehicles</h3>
								<thead>
									<tr>
										<th> Days Reported</th>
										<th> License Plate</th>
										<th> Vehicle Color</th>
										<th> Vehicle Make/Model</th>
										<th> Current Activity</th>
										<th> Most Recent Action</th>
										<th> Creation Date</th>
										<th> Completion Date</th>
										<th> Service Request Number</th>
										<th> Status</th>
										<th> Community Area</th>
										<th> Latitude</th>
										<th> Location</th>
										<th> Longitude</th>
										<th> Police district</th>
										<th> SSA</th>
										<th> Street Address</th>
										<th> Ward</th>
										<th> X coordinate</th>
										<th> Y coordinate</th>
										<th> Zip Code</th>
										
									</tr>
								</thead>

								<tbody>
									<tr th:each="abandoned_vehicle: ${abandoned_vehicles}">
										<td th:text="${abandoned_vehicle.getHowManyDaysHasTheVehicleBeenReportedAsParked()}">#Days Reported</td>
										<td th:text="${abandoned_vehicle.getLicensePlate()}">License Plate</td>
										<td th:text="${abandoned_vehicle.getVehicleColor()}">Vehicle Color</td>
										<td th:text="${abandoned_vehicle.getVehicleMakeModel()}">Vehicle Make/Model</td>
										<td th:text="${abandoned_vehicle.getAction().getCurrentActivity() }">Current Activity</td>
										<td th:text="${abandoned_vehicle.getAction().getMostRecentAction() }">Most Recent Action</td>
										<td th:text="${abandoned_vehicle.getStatus().getCreationDate() }">Creation Date</td>
										<td th:text="${abandoned_vehicle.getStatus().getCompletionDate() }">Completion Date</td>
										<td th:text="${abandoned_vehicle.getStatus().getServiceRequestNumber() }">Service Request Number</td>
										<td th:text="${abandoned_vehicle.getStatus().getStatus() }">Status</td>
										<td th:text="${abandoned_vehicle.getStatus().getLocation().getCommunityArea() }">Community Area</td>
										<td th:text="${abandoned_vehicle.getStatus().getLocation().getLatitude() }">Latitude</td>
										<td th:text="${abandoned_vehicle.getStatus().getLocation().getLocation() }">Location</td>
										<td th:text="${abandoned_vehicle.getStatus().getLocation().getLongitude() }">Longitude</td>
										<td th:text="${abandoned_vehicle.getStatus().getLocation().getPoliceDistrict() }">Police district</td>
										<td th:text="${abandoned_vehicle.getStatus().getLocation().getSsa() }">SSA</td>
										<td th:text="${abandoned_vehicle.getStatus().getLocation().getStreetAddress() }">Street Address</td>
										<td th:text="${abandoned_vehicle.getStatus().getLocation().getWard() }">Ward</td>
										<td th:text="${abandoned_vehicle.getStatus().getLocation().getXCoordinate() }">X coordinate</td>
										<td th:text="${abandoned_vehicle.getStatus().getLocation().getYCoordinate() }">Y coordinate</td>
										<td th:text="${abandoned_vehicle.getStatus().getLocation().getZipCode() }">Zip Code</td>
									</tr>
								</tbody>
							</table>
							
							<table class="table table-striped">
								<h3>Garbage Carts</h3>
								<thead>
									<tr>
										<th> Black Carts Delivered</th>
										<th> Current Activity</th>
										<th> Most Recent Action</th>
										<th> Creation Date</th>
										<th> Completion Date</th>
										<th> Service Request Number</th>
										<th> Status</th>
										<th> Community Area</th>
										<th> Latitude</th>
										<th> Location</th>
										<th> Longitude</th>
										<th> Police district</th>
										<th> SSA</th>
										<th> Street Address</th>
										<th> Ward</th>
										<th> X coordinate</th>
										<th> Y coordinate</th>
										<th> Zip Code</th>
										
									</tr>
								</thead>

								<tbody>
									<tr th:each="garbage_cart: ${garbage_carts}">
										<td th:text="${garbage_cart.getNumberOfBlackCartsDelivered()}">Black Carts Delivered</td>
										<td th:text="${garbage_cart.getAction().getCurrentActivity() }">Current Activity</td>
										<td th:text="${garbage_cart.getAction().getMostRecentAction() }">Most Recent Action</td>
										<td th:text="${garbage_cart.getStatus().getCreationDate() }">Creation Date</td>
										<td th:text="${garbage_cart.getStatus().getCompletionDate() }">Completion Date</td>
										<td th:text="${garbage_cart.getStatus().getServiceRequestNumber() }">Service Request Number</td>
										<td th:text="${garbage_cart.getStatus().getStatus() }">Status</td>
										<td th:text="${garbage_cart.getStatus().getLocation().getCommunityArea() }">Community Area</td>
										<td th:text="${garbage_cart.getStatus().getLocation().getLatitude() }">Latitude</td>
										<td th:text="${garbage_cart.getStatus().getLocation().getLocation() }">Location</td>
										<td th:text="${garbage_cart.getStatus().getLocation().getLongitude() }">Longitude</td>
										<td th:text="${garbage_cart.getStatus().getLocation().getPoliceDistrict() }">Police district</td>
										<td th:text="${garbage_cart.getStatus().getLocation().getSsa() }">SSA</td>
										<td th:text="${garbage_cart.getStatus().getLocation().getStreetAddress() }">Street Address</td>
										<td th:text="${garbage_cart.getStatus().getLocation().getWard() }">Ward</td>
										<td th:text="${garbage_cart.getStatus().getLocation().getXCoordinate() }">X coordinate</td>
										<td th:text="${garbage_cart.getStatus().getLocation().getYCoordinate() }">Y coordinate</td>
										<td th:text="${garbage_cart.getStatus().getLocation().getZipCode() }">Zip Code</td>
									</tr>
								</tbody>
							</table>
							
							<table class="table table-striped">
								<h3>Graffiti Removal</h3>
								<thead>
									<tr>
										<th> Type Of Surface</th>
										<th> Where is the graffiti located</th>
										<th> Creation Date</th>
										<th> Completion Date</th>
										<th> Service Request Number</th>
										<th> Status</th>
										<th> Community Area</th>
										<th> Latitude</th>
										<th> Location</th>
										<th> Longitude</th>
										<th> Police district</th>
										<th> SSA</th>
										<th> Street Address</th>
										<th> Ward</th>
										<th> X coordinate</th>
										<th> Y coordinate</th>
										<th> Zip Code</th>
										
									</tr>
								</thead>

								<tbody>
									<tr th:each="graffiti_removal: ${graffiti_removals}">
										<td th:text="${graffiti_removal.getWhatTypeOfSurfaceIsTheGraffitiOn()}">Type Of Surface</td>
										<td th:text="${graffiti_removal.getWhereIsTheGraffitiLocated()}">Where is the graffiti located</td>
										<td th:text="${graffiti_removal.getStatus().getCreationDate() }">Creation Date</td>
										<td th:text="${graffiti_removal.getStatus().getCompletionDate() }">Completion Date</td>
										<td th:text="${graffiti_removal.getStatus().getServiceRequestNumber() }">Service Request Number</td>
										<td th:text="${graffiti_removal.getStatus().getStatus() }">Status</td>
										<td th:text="${graffiti_removal.getStatus().getLocation().getCommunityArea() }">Community Area</td>
										<td th:text="${graffiti_removal.getStatus().getLocation().getLatitude() }">Latitude</td>
										<td th:text="${graffiti_removal.getStatus().getLocation().getLocation() }">Location</td>
										<td th:text="${graffiti_removal.getStatus().getLocation().getLongitude() }">Longitude</td>
										<td th:text="${graffiti_removal.getStatus().getLocation().getPoliceDistrict() }">Police district</td>
										<td th:text="${graffiti_removal.getStatus().getLocation().getSsa() }">SSA</td>
										<td th:text="${graffiti_removal.getStatus().getLocation().getStreetAddress() }">Street Address</td>
										<td th:text="${graffiti_removal.getStatus().getLocation().getWard() }">Ward</td>
										<td th:text="${graffiti_removal.getStatus().getLocation().getXCoordinate() }">X coordinate</td>
										<td th:text="${graffiti_removal.getStatus().getLocation().getYCoordinate() }">Y coordinate</td>
										<td th:text="${graffiti_removal.getStatus().getLocation().getZipCode() }">Zip Code</td>
									</tr>
								</tbody>
							</table>
							
							<table class="table table-striped">
								<h3>Garbage Carts</h3>
								<thead>
									<tr>
										<th> Number of Premises Baited</th>
										<th> Number of Premises with Garbage</th>
										<th> Number of Premises with Rats</th>
										<th> Current Activity</th>
										<th> Most Recent Action</th>
										<th> Creation Date</th>
										<th> Completion Date</th>
										<th> Service Request Number</th>
										<th> Status</th>
										<th> Community Area</th>
										<th> Latitude</th>
										<th> Location</th>
										<th> Longitude</th>
										<th> Police district</th>
										<th> SSA</th>
										<th> Street Address</th>
										<th> Ward</th>
										<th> X coordinate</th>
										<th> Y coordinate</th>
										<th> Zip Code</th>
										
									</tr>
								</thead>

								<tbody>
									<tr th:each="rodent_baiting: ${rodent_baitings}">
										<td th:text="${rodent_baiting.getNumberOfPremisesBaited()}">Number of Premises Baited</td>
										<td th:text="${rodent_baiting.getNumberOfPremisesWithGarbage()}">Number of Premises with Garbage</td>
										<td th:text="${rodent_baiting.getNumberOfPremisesWithRats()}">Number of Premises with Rats</td>
										<td th:text="${rodent_baiting.getAction().getCurrentActivity() }">Current Activity</td>
										<td th:text="${rodent_baiting.getAction().getMostRecentAction() }">Most Recent Action</td>
										<td th:text="${rodent_baiting.getStatus().getCreationDate() }">Creation Date</td>
										<td th:text="${rodent_baiting.getStatus().getCompletionDate() }">Completion Date</td>
										<td th:text="${rodent_baiting.getStatus().getServiceRequestNumber() }">Service Request Number</td>
										<td th:text="${rodent_baiting.getStatus().getStatus() }">Status</td>
										<td th:text="${rodent_baiting.getStatus().getLocation().getCommunityArea() }">Community Area</td>
										<td th:text="${rodent_baiting.getStatus().getLocation().getLatitude() }">Latitude</td>
										<td th:text="${rodent_baiting.getStatus().getLocation().getLocation() }">Location</td>
										<td th:text="${rodent_baiting.getStatus().getLocation().getLongitude() }">Longitude</td>
										<td th:text="${rodent_baiting.getStatus().getLocation().getPoliceDistrict() }">Police district</td>
										<td th:text="${rodent_baiting.getStatus().getLocation().getSsa() }">SSA</td>
										<td th:text="${rodent_baiting.getStatus().getLocation().getStreetAddress() }">Street Address</td>
										<td th:text="${rodent_baiting.getStatus().getLocation().getWard() }">Ward</td>
										<td th:text="${rodent_baiting.getStatus().getLocation().getXCoordinate() }">X coordinate</td>
										<td th:text="${rodent_baiting.getStatus().getLocation().getYCoordinate() }">Y coordinate</td>
										<td th:text="${rodent_baiting.getStatus().getLocation().getZipCode() }">Zip Code</td>
									</tr>
								</tbody>
							</table>
							
							<table class="table table-striped">
								<h3>Pot Holes Reported</h3>
								<thead>
									<tr>
										<th> Number of Potholes Filled on Block</th>
										<th> Current Activity</th>
										<th> Most Recent Action</th>
										<th> Creation Date</th>
										<th> Completion Date</th>
										<th> Service Request Number</th>
										<th> Status</th>
										<th> Community Area</th>
										<th> Latitude</th>
										<th> Location</th>
										<th> Longitude</th>
										<th> Police district</th>
										<th> SSA</th>
										<th> Street Address</th>
										<th> Ward</th>
										<th> X coordinate</th>
										<th> Y coordinate</th>
										<th> Zip Code</th>
										
									</tr>
								</thead>

								<tbody>
									<tr th:each="potholes_reported: ${potholes_reporteds}">
										<td th:text="${potholes_reported.getNumberOfPotholesFilledOnBlock()}">Potholes filled on block</td>
										<td th:text="${potholes_reported.getAction().getCurrentActivity() }">Current Activity</td>
										<td th:text="${potholes_reported.getAction().getMostRecentAction() }">Most Recent Action</td>
										<td th:text="${potholes_reported.getStatus().getCreationDate() }">Creation Date</td>
										<td th:text="${potholes_reported.getStatus().getCompletionDate() }">Completion Date</td>
										<td th:text="${potholes_reported.getStatus().getServiceRequestNumber() }">Service Request Number</td>
										<td th:text="${potholes_reported.getStatus().getStatus() }">Status</td>
										<td th:text="${potholes_reported.getStatus().getLocation().getCommunityArea() }">Community Area</td>
										<td th:text="${potholes_reported.getStatus().getLocation().getLatitude() }">Latitude</td>
										<td th:text="${potholes_reported.getStatus().getLocation().getLocation() }">Location</td>
										<td th:text="${potholes_reported.getStatus().getLocation().getLongitude() }">Longitude</td>
										<td th:text="${potholes_reported.getStatus().getLocation().getPoliceDistrict() }">Police district</td>
										<td th:text="${potholes_reported.getStatus().getLocation().getSsa() }">SSA</td>
										<td th:text="${potholes_reported.getStatus().getLocation().getStreetAddress() }">Street Address</td>
										<td th:text="${potholes_reported.getStatus().getLocation().getWard() }">Ward</td>
										<td th:text="${potholes_reported.getStatus().getLocation().getXCoordinate() }">X coordinate</td>
										<td th:text="${potholes_reported.getStatus().getLocation().getYCoordinate() }">Y coordinate</td>
										<td th:text="${potholes_reported.getStatus().getLocation().getZipCode() }">Zip Code</td>
									</tr>
								</tbody>
							</table>
							
							<table class="table table-striped">
								<h3>Sanitation Code Complaints</h3>
								<thead>
									<tr>
										<th> Nature of this Violation</th>
										<th> Creation Date</th>
										<th> Completion Date</th>
										<th> Service Request Number</th>
										<th> Status</th>
										<th> Community Area</th>
										<th> Latitude</th>
										<th> Location</th>
										<th> Longitude</th>
										<th> Police district</th>
										<th> SSA</th>
										<th> Street Address</th>
										<th> Ward</th>
										<th> X coordinate</th>
										<th> Y coordinate</th>
										<th> Zip Code</th>
										
									</tr>
								</thead>

								<tbody>
									<tr th:each="sanitation_code_complaint: ${sanitation_code_complaints}">
										<td th:text="${sanitation_code_complaint.getWhatIsTheNatureOfThisCodeViolation()}">Nature of this Violation</td>
										<td th:text="${sanitation_code_complaint.getStatus().getCreationDate() }">Creation Date</td>
										<td th:text="${sanitation_code_complaint.getStatus().getCompletionDate() }">Completion Date</td>
										<td th:text="${sanitation_code_complaint.getStatus().getServiceRequestNumber() }">Service Request Number</td>
										<td th:text="${sanitation_code_complaint.getStatus().getStatus() }">Status</td>
										<td th:text="${sanitation_code_complaint.getStatus().getLocation().getCommunityArea() }">Community Area</td>
										<td th:text="${sanitation_code_complaint.getStatus().getLocation().getLatitude() }">Latitude</td>
										<td th:text="${sanitation_code_complaint.getStatus().getLocation().getLocation() }">Location</td>
										<td th:text="${sanitation_code_complaint.getStatus().getLocation().getLongitude() }">Longitude</td>
										<td th:text="${sanitation_code_complaint.getStatus().getLocation().getPoliceDistrict() }">Police district</td>
										<td th:text="${sanitation_code_complaint.getStatus().getLocation().getSsa() }">SSA</td>
										<td th:text="${sanitation_code_complaint.getStatus().getLocation().getStreetAddress() }">Street Address</td>
										<td th:text="${sanitation_code_complaint.getStatus().getLocation().getWard() }">Ward</td>
										<td th:text="${sanitation_code_complaint.getStatus().getLocation().getXCoordinate() }">X coordinate</td>
										<td th:text="${sanitation_code_complaint.getStatus().getLocation().getYCoordinate() }">Y coordinate</td>
										<td th:text="${sanitation_code_complaint.getStatus().getLocation().getZipCode() }">Zip Code</td>
									</tr>
								</tbody>
							</table>
							
							<table class="table table-striped">
								<h3>Tree Debris</h3>
								<thead>
									<tr>
										<th> Where is the Debris Located</th>
										<th> Current Activity</th>
										<th> Most Recent Action</th>
										<th> Current Activity</th>
										<th> Most Recent Action</th>
										<th> Creation Date</th>
										<th> Completion Date</th>
										<th> Service Request Number</th>
										<th> Status</th>
										<th> Community Area</th>
										<th> Latitude</th>
										<th> Location</th>
										<th> Longitude</th>
										<th> Police district</th>
										<th> SSA</th>
										<th> Street Address</th>
										<th> Ward</th>
										<th> X coordinate</th>
										<th> Y coordinate</th>
										<th> Zip Code</th>
										
									</tr>
								</thead>

								<tbody>
									<tr th:each="tree_debri: ${tree_debris}">
										<td th:text="${tree_debri.getIfYesWhereIsTheDebrisLocated()}">Where is the Debris Located</td>
										<td th:text="${tree_debri.getAction().getCurrentActivity() }">Current Activity</td>
										<td th:text="${tree_debri.getAction().getMostRecentAction() }">Most Recent Action</td>
										<td th:text="${tree_debri.getStatus().getCreationDate() }">Creation Date</td>
										<td th:text="${tree_debri.getStatus().getCompletionDate() }">Completion Date</td>
										<td th:text="${tree_debri.getStatus().getServiceRequestNumber() }">Service Request Number</td>
										<td th:text="${tree_debri.getStatus().getStatus() }">Status</td>
										<td th:text="${tree_debri.getStatus().getLocation().getCommunityArea() }">Community Area</td>
										<td th:text="${tree_debri.getStatus().getLocation().getLatitude() }">Latitude</td>
										<td th:text="${tree_debri.getStatus().getLocation().getLocation() }">Location</td>
										<td th:text="${tree_debri.getStatus().getLocation().getLongitude() }">Longitude</td>
										<td th:text="${tree_debri.getStatus().getLocation().getPoliceDistrict() }">Police district</td>
										<td th:text="${tree_debri.getStatus().getLocation().getSsa() }">SSA</td>
										<td th:text="${tree_debri.getStatus().getLocation().getStreetAddress() }">Street Address</td>
										<td th:text="${tree_debri.getStatus().getLocation().getWard() }">Ward</td>
										<td th:text="${tree_debri.getStatus().getLocation().getXCoordinate() }">X coordinate</td>
										<td th:text="${tree_debri.getStatus().getLocation().getYCoordinate() }">Y coordinate</td>
										<td th:text="${tree_debri.getStatus().getLocation().getZipCode() }">Zip Code</td>
									</tr>
								</tbody>
							</table>
							
							<table class="table table-striped">
								<h3>Tree Trims</h3>
								<thead>
									<tr>
										<th> Location of Trees</th>
										<th> Creation Date</th>
										<th> Completion Date</th>
										<th> Service Request Number</th>
										<th> Status</th>
										<th> Community Area</th>
										<th> Latitude</th>
										<th> Location</th>
										<th> Longitude</th>
										<th> Police district</th>
										<th> SSA</th>
										<th> Street Address</th>
										<th> Ward</th>
										<th> X coordinate</th>
										<th> Y coordinate</th>
										<th> Zip Code</th>
										
									</tr>
								</thead>

								<tbody>
									<tr th:each="tree_trim: ${tree_trims}">
										<td th:text="${tree_trim.getLocationOfTrees()}">Location of Trees</td>
										<td th:text="${tree_trim.getStatus().getCreationDate() }">Creation Date</td>
										<td th:text="${tree_trim.getStatus().getCompletionDate() }">Completion Date</td>
										<td th:text="${tree_trim.getStatus().getServiceRequestNumber() }">Service Request Number</td>
										<td th:text="${tree_trim.getStatus().getStatus() }">Status</td>
										<td th:text="${tree_trim.getStatus().getLocation().getCommunityArea() }">Community Area</td>
										<td th:text="${tree_trim.getStatus().getLocation().getLatitude() }">Latitude</td>
										<td th:text="${tree_trim.getStatus().getLocation().getLocation() }">Location</td>
										<td th:text="${tree_trim.getStatus().getLocation().getLongitude() }">Longitude</td>
										<td th:text="${tree_trim.getStatus().getLocation().getPoliceDistrict() }">Police district</td>
										<td th:text="${tree_trim.getStatus().getLocation().getSsa() }">SSA</td>
										<td th:text="${tree_trim.getStatus().getLocation().getStreetAddress() }">Street Address</td>
										<td th:text="${tree_trim.getStatus().getLocation().getWard() }">Ward</td>
										<td th:text="${tree_trim.getStatus().getLocation().getXCoordinate() }">X coordinate</td>
										<td th:text="${tree_trim.getStatus().getLocation().getYCoordinate() }">Y coordinate</td>
										<td th:text="${tree_trim.getStatus().getLocation().getZipCode() }">Zip Code</td>
									</tr>
								</tbody>
							</table>
							
							<table class="table table-striped">
								<h3>Alley Lights Out</h3>
								<thead>
									<tr>
										<th> Creation Date</th>
										<th> Completion Date</th>
										<th> Service Request Number</th>
										<th> Status</th>
										<th> Community Area</th>
										<th> Latitude</th>
										<th> Location</th>
										<th> Longitude</th>
										<th> Police district</th>
										<th> SSA</th>
										<th> Street Address</th>
										<th> Ward</th>
										<th> X coordinate</th>
										<th> Y coordinate</th>
										<th> Zip Code</th>
										
									</tr>
								</thead>

								<tbody>
									<tr th:each="alley_lights_out: ${alley_lights_outs}">
										<td th:text="${alley_lights_out.getStatus().getCreationDate() }">Creation Date</td>
										<td th:text="${alley_lights_out.getStatus().getCompletionDate() }">Completion Date</td>
										<td th:text="${alley_lights_out.getStatus().getServiceRequestNumber() }">Service Request Number</td>
										<td th:text="${alley_lights_out.getStatus().getStatus() }">Status</td>
										<td th:text="${alley_lights_out.getStatus().getLocation().getCommunityArea() }">Community Area</td>
										<td th:text="${alley_lights_out.getStatus().getLocation().getLatitude() }">Latitude</td>
										<td th:text="${alley_lights_out.getStatus().getLocation().getLocation() }">Location</td>
										<td th:text="${alley_lights_out.getStatus().getLocation().getLongitude() }">Longitude</td>
										<td th:text="${alley_lights_out.getStatus().getLocation().getPoliceDistrict() }">Police district</td>
										<td th:text="${alley_lights_out.getStatus().getLocation().getSsa() }">SSA</td>
										<td th:text="${alley_lights_out.getStatus().getLocation().getStreetAddress() }">Street Address</td>
										<td th:text="${alley_lights_out.getStatus().getLocation().getWard() }">Ward</td>
										<td th:text="${alley_lights_out.getStatus().getLocation().getXCoordinate() }">X coordinate</td>
										<td th:text="${alley_lights_out.getStatus().getLocation().getYCoordinate() }">Y coordinate</td>
										<td th:text="${alley_lights_out.getStatus().getLocation().getZipCode() }">Zip Code</td>
									</tr>
								</tbody>
							</table>
							
							<table class="table table-striped">
								<h3>Street Lights All Out</h3>
								<thead>
									<tr>
										<th> Creation Date</th>
										<th> Completion Date</th>
										<th> Service Request Number</th>
										<th> Status</th>
										<th> Community Area</th>
										<th> Latitude</th>
										<th> Location</th>
										<th> Longitude</th>
										<th> Police district</th>
										<th> SSA</th>
										<th> Street Address</th>
										<th> Ward</th>
										<th> X coordinate</th>
										<th> Y coordinate</th>
										<th> Zip Code</th>
										
									</tr>
								</thead>

								<tbody>
									<tr th:each="street_lights_all_out: ${street_lights_all_outs}">
										<td th:text="${street_lights_all_out.getStatus().getCreationDate() }">Creation Date</td>
										<td th:text="${street_lights_all_out.getStatus().getCompletionDate() }">Completion Date</td>
										<td th:text="${street_lights_all_out.getStatus().getServiceRequestNumber() }">Service Request Number</td>
										<td th:text="${street_lights_all_out.getStatus().getStatus() }">Status</td>
										<td th:text="${street_lights_all_out.getStatus().getLocation().getCommunityArea() }">Community Area</td>
										<td th:text="${street_lights_all_out.getStatus().getLocation().getLatitude() }">Latitude</td>
										<td th:text="${street_lights_all_out.getStatus().getLocation().getLocation() }">Location</td>
										<td th:text="${street_lights_all_out.getStatus().getLocation().getLongitude() }">Longitude</td>
										<td th:text="${street_lights_all_out.getStatus().getLocation().getPoliceDistrict() }">Police district</td>
										<td th:text="${street_lights_all_out.getStatus().getLocation().getSsa() }">SSA</td>
										<td th:text="${street_lights_all_out.getStatus().getLocation().getStreetAddress() }">Street Address</td>
										<td th:text="${street_lights_all_out.getStatus().getLocation().getWard() }">Ward</td>
										<td th:text="${street_lights_all_out.getStatus().getLocation().getXCoordinate() }">X coordinate</td>
										<td th:text="${street_lights_all_out.getStatus().getLocation().getYCoordinate() }">Y coordinate</td>
										<td th:text="${street_lights_all_out.getStatus().getLocation().getZipCode() }">Zip Code</td>
									</tr>
								</tbody>
							</table>
							
							<table class="table table-striped">
								<h3>Street Lights One Out</h3>
								<thead>
									<tr>
										<th> Creation Date</th>
										<th> Completion Date</th>
										<th> Service Request Number</th>
										<th> Status</th>
										<th> Community Area</th>
										<th> Latitude</th>
										<th> Location</th>
										<th> Longitude</th>
										<th> Police district</th>
										<th> SSA</th>
										<th> Street Address</th>
										<th> Ward</th>
										<th> X coordinate</th>
										<th> Y coordinate</th>
										<th> Zip Code</th>
										
									</tr>
								</thead>

								<tbody>
									<tr th:each="street_lights_one_out: ${street_lights_one_outs}">
										<td th:text="${street_lights_one_out.getStatus().getCreationDate() }">Creation Date</td>
										<td th:text="${street_lights_one_out.getStatus().getCompletionDate() }">Completion Date</td>
										<td th:text="${street_lights_one_out.getStatus().getServiceRequestNumber() }">Service Request Number</td>
										<td th:text="${street_lights_one_out.getStatus().getStatus() }">Status</td>
										<td th:text="${street_lights_one_out.getStatus().getLocation().getCommunityArea() }">Community Area</td>
										<td th:text="${street_lights_one_out.getStatus().getLocation().getLatitude() }">Latitude</td>
										<td th:text="${street_lights_one_out.getStatus().getLocation().getLocation() }">Location</td>
										<td th:text="${street_lights_one_out.getStatus().getLocation().getLongitude() }">Longitude</td>
										<td th:text="${street_lights_one_out.getStatus().getLocation().getPoliceDistrict() }">Police district</td>
										<td th:text="${street_lights_one_out.getStatus().getLocation().getSsa() }">SSA</td>
										<td th:text="${street_lights_one_out.getStatus().getLocation().getStreetAddress() }">Street Address</td>
										<td th:text="${street_lights_one_out.getStatus().getLocation().getWard() }">Ward</td>
										<td th:text="${street_lights_one_out.getStatus().getLocation().getXCoordinate() }">X coordinate</td>
										<td th:text="${street_lights_one_out.getStatus().getLocation().getYCoordinate() }">Y coordinate</td>
										<td th:text="${street_lights_one_out.getStatus().getLocation().getZipCode() }">Zip Code</td>
									</tr>
								</tbody>
							</table>
							
							
						</div>
					</div>
				</div>
    		</div>
    		
    		<form th:action="@{/user/locationSpecificRequests}" method="get">
  				<button type="submit">Back</button>
			</form>
    		
	</th:block>
	
</body>
</html>