<!DOCTYPE HTML>
<html layout:decorator="layout/layout"
	xmlns:th="http://www.thymeleaf.org">
	
<body>
	<th:block layout:fragment="content">

		<div class="row">
			<div class="col-md-4 col-sm-4">
						<h3> Choose your next action: </h3>
						<p> <a th:href="@{/user/storedFunctions}">Use Stored Functions</a> </p>
						<p> <a th:href="@{/user/newIncident}">Insert New Incident</a> </p>
						<p> <a th:href="@{/user/locationSpecificRequests}">Find location-specific incidents</a> </p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-sm-8">
					<div class="panel panel-default">
						<div class="panel-heading">Types of Request List</div>
						<div class="panel-body">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Type ID</th>
										<th>Type Of Service Request</th>
									</tr>
								</thead>

								<tbody>
									<tr th:each="request: ${requests}">
										<td th:text="${request.getTypeid()}">Type ID</td>
										<td th:text="${request.getTypeOfServiceRequest()}">Type Of Service Request</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
    		</div>
    		
    		<form th:action="@{/welcome}" method="get">
  				<button type="submit">Back</button>
			</form>
    		
	</th:block>
	
</body>
</html>
