<!DOCTYPE HTML>
<html layout:decorator="layout/layout"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<th:block layout:fragment="content">

		<div class="row">
			<div class="col-md-8 col-sm-8">
						<h3> Add a new incident to Chicago-Requests-database: </h3>
						<p> <a th:href="@{newIncidents/newAbandonedVehicleComplaint}"> New Abandoned Vehicle Complaint </a> </p>
						<p> <a th:href="@{newIncidents/newAlleyLightsOut}"> New alley Light Out Complaint </a></p>
						<p> <a th:href="@{newIncidents/newGarbageCarts}">New Garbage Cart Black Maintenance/Replacement </a> </p>
						<p> <a th:href="@{newIncidents/newGraffitiRemoval}">New Graffiti Removal </a></p>
						<p> <a th:href="@{newIncidents/newPotholesReported}">New Pothole in Street </a> </p>
						<p> <a th:href="@{newIncidents/newRodentBaiting}"> New Rodent Baiting/Rat Complaint </a></p>
						<p> <a th:href="@{newIncidents/newSanitationCodeComplaints}"> New Sanitation Code Violation</a></p>
						<p> <a th:href="@{newIncidents/newStreetLightsAllOut}"> New Street Lights All Out </a></p>
						<p> <a th:href="@{newIncidents/newStreetLightsOneOut}"> New Street Lights One Out </a></p>
						<p> <a th:href="@{newIncidents/newTreeDebris}"> New Tree Debris </a></p>
						<p> <a th:href="@{newIncidents/newTreeTrims}"> New Tree Trim </a> </p>
			</div>
		</div>
		
		 <form th:action="@{/user/home}" method="get">
  			<button type="submit">Back</button>
		</form>
		 
		
	</th:block>
</body>
</html>
