<!DOCTYPE HTML>
<html layout:decorator="layout/layout"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<th:block layout:fragment="content">

		<div class="row">
			<div class="col-md-4 col-sm-4">
				<div class="panel panel-default">
					<div class="panel-heading">Function 01: Find the total requests per type that were created within a specified time range and sort them in a descending order.</div>
					<div class="panel-body">
						<form method="post" class="form-group" action="/user/function01">
							<div class="form-group">
								<label for="startingDate">Starting Date:&nbsp;</label> <input
									class="form-control" type="date" name="startingDate"
									id="startingDate" maxlength="50" />
							</div>

							<div class="form-group">
								<label for="endingDate">Ending Date:&nbsp;</label> <input
									class="form-control" type="date" name="endingDate"
									id="endingDate" maxlength="50" />
							</div>

							<input class="btn btn-primary" type="submit" value="Search" />
						</form>
					</div>

					<div class="panel-heading">Function 02: Find the total requests per day for a specific request type and time range.</div>
					<div class="panel-body">
						<form method="post" class="form-group" action="/user/function02">

							<div class="form-group">
								<label for="typeOfServiceRequest">Type Of Service Request:&nbsp;</label> <input
									class="form-control" type="text" name="typeOfServiceRequest"
									id="typeOfServiceRequest" maxlength="50" />
							</div>

							<div class="form-group">
								<label for="startingDate">Starting Date:&nbsp;</label> <input
									class="form-control" type="date" name="startingDate"
									id="startingDate" maxlength="50" />
							</div>

							<div class="form-group">
								<label for="endingDate">Ending Date:&nbsp;</label> <input
									class="form-control" type="date" name="endingDate"
									id="endingDate" maxlength="50" />
							</div>

							<input class="btn btn-primary" type="submit" value="Search" />
						</form>
					</div>

					<div class="panel-heading">Function 03: Find the most common service request per zipcode for a specific day.</div>
					<div class="panel-body">
						<form method="post" class="form-group" action="/user/function03">
							<div class="form-group">
								<label for="date">Date:&nbsp;</label> <input
									class="form-control" type="date" name="date" id="date"
									maxlength="50" />
							</div>
							<input class="btn btn-primary" type="submit" value="Search" />
						</form>
					</div>
					<div class="panel-footer">
						<span th:text="${message}">Status</span>
					</div>

					<div class="panel-heading">Function 04: Find the average completion time per service request for a specific date range.</div>
					<div class="panel-body">
						<form method="post" class="form-group" action="/user/function04">
							<div class="form-group">
								<label for="startingDate">Starting Date:&nbsp;</label> <input
									class="form-control" type="date" name="startingDate"
									id="startingDate" maxlength="50" />
							</div>

							<div class="form-group">
								<label for="endingDate">Ending Date:&nbsp;</label> <input
									class="form-control" type="date" name="endingDate"
									id="endingDate" maxlength="50" />
							</div>
							<input class="btn btn-primary" type="submit" value="Search" />
						</form>
					</div>

					<div class="panel-heading">Function 05: Find the most common service request in a specified bounding box (as designated by GPScoordinates) for a specific day </div>
					<div class="panel-body">
						<form method="post" class="form-group" action="/user/function05">
							<div class="form-group">
								<label for="min_lon">Minimum Longitude:&nbsp;</label> <input
									class="form-control" type="number" step="any" name="min_lon"
									id="min_lon" maxlength="50" />
							</div>
							<div class="form-group">
								<label for="max_lon">Maximum Longitude:&nbsp;</label> <input
									class="form-control" type="number" step="any" name="max_lon"
									id="max_lon" maxlength="50" />
							</div>
							<div class="form-group">
								<label for="min_lat">Minimum Latitude:&nbsp;</label> <input
									class="form-control" type="number" step="any" name="min_lat"
									id="min_lat" maxlength="50" />
							</div>
							<div class="form-group">
								<label for="max_lat">Maximum Latitude:&nbsp;</label> <input
									class="form-control" type="number" step="any" name="max_lat"
									id="max_lat" maxlength="50" />
							</div>
							<div class="form-group">
								<label for="creationDate">Ending Date:&nbsp;</label> <input
									class="form-control" type="date" name="creationDate"
									id="creationDate" maxlength="50" />
							</div>
							<input class="btn btn-primary" type="submit" value="Search" />
						</form>
					</div>

					<div class="panel-heading">Function 06: Find the top-5 Special Service Areas (SSA) with regards to total number of requests per day for a specific date range (for service requests types that SSA is available: abandoned vehicles, garbage carts, graffiti removal, pot holes reported)</div>
					<div class="panel-body">
						<form method="post" class="form-group" action="/user/function06">
							<div class="form-group">
								<label for="startingDate">Starting Date:&nbsp;</label> <input
									class="form-control" type="date" name="startingDate"
									id="startingDate" maxlength="50" />
							</div>

							<div class="form-group">
								<label for="endingDate">Ending Date:&nbsp;</label> <input
									class="form-control" type="date" name="endingDate"
									id="endingDate" maxlength="50" />
							</div>
							<input class="btn btn-primary" type="submit" value="Search" />
						</form>
					</div>

					<div class="panel-heading">Function 07: Find the license plates (if any) that have been involved in abandoned vehicle complaints more than once.</div>
					<div class="panel-body">
						<form method="post" class="form-group" action="/user/function07">
							<input class="btn btn-primary" type="submit" value="Search" />
						</form>
					</div>

					<div class="panel-heading">Function 08: Find the second most common color of vehicles involved in abandoned vehicle complaints.</div>
					<div class="panel-body">
						<form method="post" class="form-group" action="/user/function08">
							<input class="btn btn-primary" type="submit" value="Search" />
						</form>
					</div>

					<div class="panel-heading">Function 09: Find the rodent baiting requests where the number of premises baited is less than a specified number</div>
					<div class="panel-body">
						<form method="post" class="form-group" action="/user/function09">
							<div class="form-group">
								<label for="maxNumberOfPremisesBaited">Max Number Of Premises Baited:&nbsp;</label> <input
									class="form-control" type="number" name="maxNumberOfPremisesBaited"
									id="maxNumberOfPremisesBaited" maxlength="50" />
							</div>
							<input class="btn btn-primary" type="submit" value="Search" />
						</form>
					</div>

					<div class="panel-heading">Function 10: Find the rodent baiting requests where the number of premises with garbage is less than a specified number</div>
					<div class="panel-body">
						<form method="post" class="form-group" action="/user/function10">
							<div class="form-group">
								<label for="maxNumberOfPremisesWithGarbage">Max Number Of Premises With Garbage:&nbsp;</label> <input
									class="form-control" type="number" name="maxNumberOfPremisesWithGarbage"
									id="maxNumberOfPremisesWithGarbage" maxlength="50" />
							</div>
							<input class="btn btn-primary" type="submit" value="Search" />
						</form>
					</div>

					<div class="panel-heading">Function 11: Find the rodent baiting requests where the number of premises with rats is less than a specified number</div>
					<div class="panel-body">
						<form method="post" class="form-group" action="/user/function11">
							<div class="form-group">
								<label for="maxNumberOfPremisesWithRats">Max Number Of Premises With Rats:&nbsp;</label> <input
									class="form-control" type="number" name="maxNumberOfPremisesWithRats"
									id="maxNumberOfPremisesWithRats" maxlength="50" />
							</div>
							<input class="btn btn-primary" type="submit" value="Search" />
						</form>
					</div>

					<div class="panel-heading">Function 12:  Find the police districts that have handled “pot holes” requests with more than one number of potholes on the same day that they also handled “rodent baiting” requests with more than one number of premises baited, for a specific day.</div> <div class="panel-body">
						<form method="post" class="form-group" action="/user/function12">
							<div class="form-group">
								<label for="numberOfPotholesFilledOnBlock">Max Number Of Potholes Filled On Block:&nbsp; </label> <input
									class="form-control" type="number" name="numberOfPotholesFilledOnBlock"
									id="numberOfPotholesFilledOnBlock" maxlength="50" />
							</div>
							<div class="form-group">
								<label for="numberOfPremisesBaited">Max Number Of Premises Baited:&nbsp; </label> <input
									class="form-control" type="number" name="numberOfPremisesBaited"
									id="numberOfPremisesBaited" maxlength="50" />
							</div>
							<div class="form-group">
								<label for="completionDate">Date:&nbsp; </label> <input
									class="form-control" type="date" name="completionDate"
									id="completionDate" maxlength="50" />
							</div>
							<input class="btn btn-primary" type="submit" value="Search" />
						</form>
					</div>

				</div>
			</div>

			<div class="col-md-8 col-sm-8">
				<div class="panel panel-default">
					<div class="panel-heading">Types of Request List</div>
					<div class="panel-body">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Type ID</th>
									<th>Type Of Service Request</th>
								</tr>
							</thead>

							<tbody>
								<tr th:each="request: ${requests}">
									<td th:text="${request.getTypeid()}">Type ID</td>
									<td th:text="${request.getTypeOfServiceRequest()}">Type Of Service Request</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		
		<form th:action="@{/user/home}" method="get">
  			<button type="submit">Back</button>
		</form>
		
	</th:block>
</body>
</html>
