<!DOCTYPE HTML>
<html layout:decorator="layout/layout" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block layout:fragment="content">

    <div class="row">
        <div class="col-md-8 col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">function01 list</div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Type Of Service Request</th>
                                <th>Number of Total Requests</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr th:each="function01Result: ${function01Results}">
                                <td th:text="${function01Result[0]}"></td>
                                <td th:text="${function01Result[1]}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <form th:action="@{/user/storedFunctions}" method="get">
  		<button type="submit">Back</button>
	</form>
    
</th:block>
</body>
</html>
