<!DOCTYPE HTML>
<html layout:decorator="layout/layout" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block layout:fragment="content">

    <div class="row">
        <div class="col-md-8 col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">function08 list</div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Colour</th>
                                <th>Count</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr th:each="function08Result: ${function08Results}">
                                <td th:text="${function08Result[0]}">Colour</td>
                                <td th:text="${function08Result[1]}">Count</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <form th:action="@{/user/storedFunctions}" method="get">
  		<button type="submit">Back</button>
	</form>
    
</th:block>
</body>
</html>
