<!DOCTYPE HTML>
<html layout:decorator="layout/layout"
	 xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>Login</title>
   </head>
   <body>
   		<th:block layout:fragment="content">
   		
   		<h2>Admin Page</h2>
      	<b>This is protected page!</b>  
       
      	<br/><br/>
       
        <p>Logged in as:</p>
      	<div th:if="${userInfo != null}" th:utext="${userInfo}"></div>
      	
      	
      	<br/><br/>

		<div class="row">
			<div class="col-md-8 col-sm-8">
					<div class="panel panel-default">
						<div class="panel-heading">Registered Users</div>
						<div class="panel-body">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Username</th>
										<th>E-mail</th>
										<th>Address</th>
									</tr>
								</thead>

								<tbody>
									<tr th:each="user: ${users}">
										<td th:text="${user.getUsername()}">Username</td>
										<td th:text="${user.getEmail()}">E-mail</td>
										<td th:text="${user.getAddress()}">Address</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
    		</div>
    		
    		<form th:action="@{/welcome}" method="get">
  				<button type="submit">Back</button>
			</form>
    		
	</th:block>
       
   </body>
    
</html>