<!DOCTYPE HTML>
<html layout:decorator="layout/layout"
	 xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>Login</title>
   </head>
   <body>
   		<th:block layout:fragment="content">
      	<!-- Include _menu.html -->
     <!--   	<th:block th:include="/authentication/_menu"></th:block>  -->
       
      <h1>Login</h1>
       
       
      <div th:if="${(param.error!=null) and (param.error[0]=='true')}"
            style="color:red;margin:10px 0px;">
         Login Failed!!!<br />

      </div>
      <div th:if="${message=='registration_succeded'}"
            style="color:blue;margin:10px 0px;">
         Successful Registration!<br />
         Please Login.<br/>

      </div>

      <h3>Enter user name and password:</h3>
      <form name='f' th:action="@{/j_spring_security_check}" method='POST'>
         <table>
            <tr>
               <td>User:</td>
               <td><input type='text' name='username' value=''/></td>
            </tr>
            <tr>
               <td>Password:</td>
               <td><input type='password' name='password' /></td>
            </tr>
            <tr>
               <td>Remember Me?</td>
               <td><input type="checkbox" name="remember-me" /></td>
            </tr>            
            <tr>
               <td><input name="submit" type="submit" value="submit" /></td>
            </tr>
         </table>
         
         <br></br>
         
         <h3>Don't you have an account?</h3>
	   	 <h3>Create one!</h3>
      		<a th:href="@{/register}">Sign Up</a>
         
      </form>
       </th:block>
       
   </body>
    
</html>