<!DOCTYPE HTML>
<html layout:decorator="layout/layout"
	xmlns:th="http://www.thymeleaf.org">
   <head>
      <title th:utext="${title}"></title>
      <style>
         th, td {
         padding: 5px;
         }
         td span  {
         font-size:90%;
         font-style: italic;
         color: red;
         }
         .error {
         color: red;
         font-style: italic;
         }
      </style>
   </head>
   <body>
      <th:block layout:fragment="content">
      	<!-- Include _menu.html -->
     <!--   	<th:block th:include="/authentication/_menu"></th:block>  -->
       
       
      <h2>Register</h2>
      
       <div th:if="${message=='username_already_exists'}"
            style="color:red;margin:10px 0px;">
         Username already exists!<br />

      </div>

	<div th:if="${message=='wrong_password'}"
            style="color:red;margin:10px 0px;">
         Wrong Password!<br />
         Password must be at least 4 characters.
		 Check your password confirmation again.	
      </div>
       
      <form th:action="@{/registerCheck}"  method="POST">
         <table>
            <tr>
               <td>User Name</td>
               <td><input type="text" name="username" id="username" /></td>
              
            </tr>
            <tr>
               <td>Password</td>
               <td><input type="password" name="password" id="password" /> </td>
               
            </tr>
            <tr>
               <td>Confirm Password</td>
               <td><input type="password" name="confirmPassword" id="confirmPassword"  /> </td>
              
            </tr>
           
			<tr>
               <td>Address</td>
               <td><input type="text" name="address" id="address" /> </td>
              
            </tr>
            <tr>
               <td>E-mail</td>
               <td><input type="text" name="email" id="email" /> </td>
              
            </tr>
            <tr>
               <td>&nbsp;</td>
               <td>
                  <input type="submit" value="Submit" />
                  <a th:href="@{/}">Cancel</a>
               </td>
               <td>&nbsp;</td>
            </tr>
         </table>
      </form>
      </th:block> 
   </body>
</html>
