<!DOCTYPE HTML>
<html layout:decorator="layout/layout"
	xmlns:th="http://www.thymeleaf.org">
   <head>
      <title th:utext="${title}"></title>
   </head>
    
   <body>
    
      <th:block layout:fragment="content">
      	<!-- Include _menu.html -->
     <!--   	<th:block th:include="/authentication/_menu"></th:block>  --> 
       
      <h2> <span th:utext="${message}"></span></h2>
      <h3>Sign In if you want to find out more!</h3>
     
     	 <a th:href="@{/login}">Sign In</a>
      
       <br/>
	   <h3>Don't you have an account?</h3>
	   <h3>Create one!</h3>
      
      	<a th:href="@{/register}">Sign Up</a>
      	 
     </th:block>
   </body>
</html>